<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="css/update.css">
</head>
<body>
    <div class="container">  
  <form id="contact" action="/update" method="post">
    <h3>UPDATE FORM</h3>
    <h4>HOLA !! USER</h4>
    <fieldset>
      <input placeholder="Your New Nickname" name="new" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" name="email_address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    <p class="copyright">Designed by Prakhar</p>
  </form>
</div>
</body>
</html>