<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
      <div class="wrapper">
      <div class="title-text">
        <div class="title login">Login Form</div>
        <div class="title signup">Signup Form</div>
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked>
          <input type="radio" name="slide" id="signup">
          <label for="login" class="slide login">Login</label>
          <label for="signup" class="slide signup">Signup</label>
          <div class="slider-tab"></div>
        </div>
        {{!-- -----------------------------------------login form--------------------------------------}}
        <div class="form-inner">
          <form action="/login" class="login" method="POST">
            <div class="field">
              <input type="text" placeholder="Email Address" required name="lemail">
            </div>
            <div class="field">
              <input type="password" placeholder="Password" required name="lpassword">
            </div>
            <div class="pass-link"><a href="/password/reset">Forgot password?</a></div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Login">
            </div>
            <div class="signup-link">Not a member? <a href="">Signup now</a></div>
          </form>

        {{!-- -----------------------------------------Register form--------------------------------------}}
          <form action="/register" class="signup" method="POST">
            <div class="field">
              <input type="text" placeholder="Nick Name" required name="rnickname">
            </div>
            <div class="field">
              <input type="text" placeholder="Email Address" required name="remail">
            </div>
            <div class="field">
              <input type="password" placeholder="Password" required name="rpassword">
            </div>
            <div class="field">
              <input type="password" placeholder="Confirm Password" required name="rcpassword">
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Signup">
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="js/style.js"></script>

</body>
</html>